*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
}
body{
    background-color: antiquewhite;
}

.box{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: white;
    font-size:200px;
    filter: drop-shadow(10px 6px 4px grey);
}

h2{
    color: antiquewhite;
    filter: drop-shadow(4px 2px 6px black);
}